*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: auto;
}
body{
    font-family: "Poppins", sans-serif;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.d-flex{
    display: flex;
}
.p-f{
    position: fixed;
}
.f-w{
    flex-wrap: wrap;
}
.gap-3{
    gap: 30px;
}
.gap-2{
    gap: 20px;
}
.gap-1{
    gap: 10px;
}
/* justy-content */

.j-c-c{
    justify-content: center;
}
.j-c-s-b{
    justify-content: space-between;
}
.flex-d{
    flex-direction: row;
}
.f-f-r{
    flex-flow:row wrap;
}

/* align-items */

.a-c{
    align-items: center;
}

/* padding */

.p-15{
    padding: 15px;
}
.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.p-3{
    padding: 20px;
}
.p-1-5{
    padding:30px 100px 30px 100px;
}
.p-b-1{
    padding-bottom: 10px;
}

/* margin */

.m-1{
    margin: 10px;
}
.m-t-1{
    margin-top: 50px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-2{
    margin-top: 30px;
}
.m-b-15{
    margin-bottom:15px;
}
.m-b-10{
    margin-bottom:10px;
}
.m-b-20{
    margin-bottom:20px;
}
.m-b-30{
    margin-bottom:30px;
}
.m-l-1{
    margin-left: 10px;
}

/* height */

.h-5-1{
    height: 50px;
}
.h-3-1{
    height: 30px;
}
.h-7-1{
    height: 70px;
}
.h-150{
    height: 150px;
}
.h-1{
    height: 100px;
}
.h-2{
    height: 200px;
}
.h-3{
    height: 300px;
}
.h-4{
    height: 400px;
}
.h-5{
    height: 500px;
}
.h-6{
    height: 600px;
}
.h-7{
    height: 700px;
}
.f-d{
    flex-direction: row;
}
/* font property */

.f-weight{
    font-weight: 700;
}
.f-s{
    font-size: 17px;
}
.f-s-1{
    font-size: 23px;
}
.f-s-2{
    font-size: 16px;
}
.color-1{
    color: #212121;
}

.left img{
    width:120px;
    height: 36px;
}
.border input{
    padding: 10px 15px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #454545;  
}
.border{
    border-radius: 7px;
    border: 1px solid #454545;
    margin-right: 60px;
}
.b-s{
    border:1px solid #ededed;
}
.ri-search-line{
    font-size: 20px;
    padding: 8px 15px;
    color: #454545;
}
.icon{
    color: #454545;
    font-size: 35px;
}
.right{
    display:none;
}
.nav a{
    font-size: 15px;
    font-weight: 700;
    color: #454545;
    padding: 15px 0px;
    text-decoration: none;
}
.nav a:hover{
    color: hsl(353, 100%, 78%);
    text-decoration: underline;
}
.main{
    position: relative;
}
.main img{
    width: 100%;
    /* position:relative; */
}
.logo{
    display: none;
}
.p-l-r{
    padding:0px 20px 0px 20px;
}
.part{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    padding: 20px 25px;
    background-color:rgba(255, 255, 255, 0.7);
}
.box2 img{
    width: 100%;
}
.b-r{
    border-radius: 7px;
}
.b-r-1{
    border-radius: 20px;
}
.banner-subtitle{
    color: #ff8f9c;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.part h2{
    color:#212121;
    margin-bottom: 10px;
    font-size: 47px;
    text-transform: uppercase;
    line-height: 1;
}
.banner-text{
    display: block;
    color: #787878;
    font-size:1.375rem;
    font-weight:500;
    margin-bottom: 10px; 
}
.banner-text b{
    font-weight: bold;
    font-size: 35px;
}
.btn{
    background: #ff8f9c;
    color:white;
    font-size:16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 18px;
    border: none;
    border-radius:5px ;
}
.btn:hover{
    background-color: black;
}
.box2{
    overflow: hidden;
    border-radius: 5px;
}
.div img{
    width: 40px;
    height: 40px;
}
.div{
    background-color:#EDEDED;
    border-radius: 3px;
    display:inline-block;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    margin-right: 10px;
}
.Categories{
    font-size: 15px;
    color: #212121;
    font-weight: 600;  
}
.m-b{
    margin-bottom: 8px;
}
.e-1{
    font-weight:600;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2px;
}
.Categories-btn{
    color: #ff8f9c;
    font-size: 15px;
}
.font-s{
    font-size: 18px;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    margin-left: 10px;
}
.a-f{
    text-decoration: none;
    color: #545454;
    margin-bottom: 6px;
    font-size: 15px;
}
.a-f:hover{
    color: #ff8f9c;
}
.div2 img{
    width: 70px;
    height: 62px;
}
.div2{
    display:inline-block;
    /* padding: 10px; */
    margin-right: 10px;
}
.s-1{
    color: #787878;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}
.s-2{
    color: #787878;
    font-size: 17px;
    font-weight: 400;
    margin-left: 5px;
}
.div3 img{
    width:100%
}
.star-content h3{
    font-size: 0.875rem;
    color:#212121;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: 700;
   
}
.star-content a{
    text-decoration: none;
}
.last{
    color: #787878;
    font-size:0.875rem;
    font-weight:300;
    margin-bottom: 10px;
    font-weight: 300;
}
.last:hover{
    color: #212121;
}
.icon1{
    color: #f6a355;
    font-size: 20px;
}
.star{
    margin-bottom: 15px;
}
.wrapper{
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.wrapper p{
    color: #212121;
    font-size:14px;
    font-weight:400;
}

.progress input{
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ff8f9c;
}
.progress input:hover{
    background-color: #ff8f9c;
    color: #ff8f9c;
}
.countdown-desc{
    color: #212121;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}
.countdown-content{
    padding: 5px 10px;
    background: #ededed;
    border-radius:10px;
    text-align: center;
}
.number{
    color: #212121;
    font-size:1.125rem;
    font-weight: 500;
    min-width:40px;
}
.text{
    color: #545454;
    font-size:0.625rem;
}
.div4 img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.b-r-1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);  
}
.main1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .b-c{
    background-color:rgba(255, 255, 255, 0.7);
} */
.testimonial-name{
    font-weight:700;
    text-transform: uppercase;
    color: #787878;
    margin-bottom: 5px;
    text-align: center;
}

.div5{
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}
.div5 img{
    overflow: clip;
    border-radius: 50%;
}
.testimonial-card{
    padding: 30px 20px;
    border: 1px solid #ededed;;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
}
.testimonial-title{
    color: #454545;
    font-size: 0.875rem;
    margin-bottom: 15px;
}
.quotes{
    margin: auto;
    margin-bottom: 10px;
    width: 26px;
}
.testimonial-desc{
    max-width: 70%;
    margin: auto;
    color:  #787878;
    font-size: 0.875rem;
}
.div6{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.main1 a{
    display: block;
}
.cta-content{
    padding: 40px;
    background: hsla(0, 0%, 100%, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}
.cta-btn{
    font-size: 17px;
    color: #787878;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
    background: none;
    border: none;
}
.cta-text{
    color: #787878; 
    font-size: 17px;
    margin-bottom: 5px;
}
.cta-title{
    color: #454545;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 5px;
} 
.discount{
    background:#212121;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    padding: 6px 0px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.icon3{
    color: #ff8f9c;
    font-size: 35px;
    display: block;
    text-align: center;
}
.icon3:hover{
    color: #212121;
}
.service-title{
    color:#787878;
    font-size: 0.875rem;
    font-weight:600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.div5 i{
    padding-right: 30px;
}
.blog-meta{
    color:#787878;
    font-size: 16px;
}
.blog-title{
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 5px;
    transition: 0.2s ease;
}
.blog-title:hover{
    color: #ff8f9c;
}
#color{
    background-color: #212121;
}
.f-c-title{
    color: #ff8f9c;
    font-size: 17px;
    font-weight:600;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.box-title{
    color: #999999;
    font-size: 15px;
    font-weight:600;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
.f-c-link{
    position: relative;
    color:#787878;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.2s ease;
}
h3{
    display:inline-block;
}
.f-c-box{
   justify-content: flex-start;
   align-items: center;
   column-gap: 20px;
   row-gap: 3px;
   margin-bottom: 15px; 
}